:root {
  --1st: #1ebfc1;
  --2nd: #0d1111;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.main-content {
  width: 1170px;
  width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  padding: 25px 100px;
}

a {
  text-decoration: none;
  color: #2f3a3b;
  font-size: 1.6rem;
}

.btn {
  color: #494949;
  font-size: 1.6rem;
  text-align: center;
}
/* ===========================Header============================ */
.header__body {
  display: flex;
  align-items: center;
}

.header__nav ul {
  display: flex;
  gap: 39px;
}

.header__nav {
  margin-left: auto;
  margin-right: auto;
}

.header__nav li:first-child {
  font-weight: 600;
}

.header__nav a:hover {
  text-shadow: 0.5px 0 0 #000;
  cursor: pointer;
}

.header__action a:first-child {
  margin-right: 48px;
}

.header__action .sign-in:hover {
  opacity: 0.8;
}

.header__action .sign-up {
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 24px;
}

.header__action .sign-up:hover {
  color: #fff;
  background-color: var(--1st);
}

/* ============================Hero=========================== */
.hero__body {
  display: flex;
  justify-content: space-between;
}

.hero__content-block {
  width: 39%;
  margin-top: 93px;
}

.hero__subheading {
  color: #767e7e;
  font-size: 1.4rem;
  margin-bottom: 18px;
}

.hero__desc {
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
  margin-bottom: 52px;
  width: 374px;
}

.hero__heading {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
  margin-bottom: 46px;
}

.main__cta-group .play {
  border: none;
  background: transparent;
}

.main__cta-group .icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.get-started {
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 21px 41px;
}

.get-started:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main__cta-group .icon {
  margin-left: 42px;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  align-content: center;
  justify-content: center;
}

.hero__media-block {
  display: flex;
  position: relative;
  width: 61%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.besnik-ava {
  object-fit: cover;
  background-position: 0% 0%;
  width: 641px;
  height: 631px;
  border-radius: 15px;
}

.item1 {
  position: absolute;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  left: 0;
  margin-top: 149px;
  padding: 17px 25px;
  margin-left: 67px;
}

.item2 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 46px;
  width: 124px;
  height: 132px;
  border-radius: 2.4rem;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 16px 25px 23px;
  margin-left: 42px;
}

.item2 .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.item2 .taskbar1 {
  margin-bottom: 12px;
}

.item2 .taskbar2 {
  margin-bottom: 10px;
}

.item2 .taskbar3 {
  margin-bottom: 16px;
}

.taskbar__tmp {
  content: "";
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
  margin: auto;
}

.item3 {
  min-width: 0;
  display: inline-block;
  border-radius: 2.4rem;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  margin-right: 45px;
  margin-bottom: 41px;
  padding: 17px 35px;
}

.item3 .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
}

.item3 .our__students:first-child {
  margin-left: 0;
}

.students {
  margin-left: -7px;
}

/* ===============================Features======================= */
.features .body {
  width: 88%;
  margin-top: 159px;
}

.features .text {
  width: 55%;
  margin-bottom: 80px;
}

.text .features__subheading {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 18px;
}

.text .feature__heading {
  width: 577px;
  color: var(--2nd, #2f3a3b);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
  margin-bottom: 18px;
}

.text .features__desc {
  color: #767e7e;
  font-size: 18px;
  font-weight: 40;
}

.features__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features__section .heading {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  padding: 26px 0px 16px;
}

.features__section .desc {
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.67; /* 168.75% */
}

.features__section .item4 {
  width: 168px;
  height: 259px;
  flex-shrink: 0;
}

.features__section .item5 {
  width: 223px;
  height: 259px;
  flex-shrink: 0;
}

.features__section .item6 {
  width: 224px;
  height: 259px;
  flex-shrink: 0;
}

/* ================================Courses======================== */
.main__course .body {
  margin-top: 80px;
  margin-bottom: 215px;
}

.main__course .text .subheading {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}

.main__course .text .heading {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  padding: 19px 0px;
}

.main__course .text .desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.main__course .text .more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__course .text a {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.course-list {
  margin-top: 79px;
  display: flex;
  justify-content: space-between;
}

.course-list__item {
  width: 359px;
  height: 517px;
  position: relative;
}

.course-list__info {
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  margin: 0px 17px;
  padding: 18px 25px 29px;
}

.course-list__info .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.course-list__info .price {
  color: #767e7e;
  font-size: 1.6rem;
  margin-bottom: 6px;
}

.course-list__info .price strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.course-list__info .desc {
  color: #9da6a5;
  font-size: 1.4rem;
  margin-bottom: 18px;
}

.course-list__info .more-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #9da6a5;
  font-size: 1.4rem;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #1ebfc1;
  border-radius: 50%;
}
/* ================================Summary===================== */
.summary .body {
  margin: 0 auto;
  width: 74%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.summary .value {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
}

.summary .value--title {
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
}
/* ================================feedback==================== */
.feedback .body {
  margin-top: 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback__content {
  width: 36%;
}

.feedback--comment {
  margin-top: 27px;
  margin-bottom: 33px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5; /* 150% */
}

.feedback--name {
  color: #767e7e;
  margin-bottom: 52px;
}

.feedback--name strong {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.feedback .control .btn {
  border: none;
  background: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #2ac9bf;
}

.feedback .control .back {
  margin-right: 30px;
}

.feedback .control .btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.info--image {
  width: 58%;
  display: flex;
  position: relative;
  height: 481px;
}

.feedback-ava1 {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 19px;
}

.feedback-ava2 {
  position: absolute;
  top: 0;
  margin-left: 144px;
}

.feedback-ava6 {
  position: absolute;
  left: 0;
  margin-top: 258px;
}

.feedback-ava5 {
  position: absolute;
  bottom: 0;
  margin-left: 212px;
}

.feedback-ava4 {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 32px;
  margin-bottom: 29px;
}

.feedback-ava3 {
  position: absolute;
  margin: 107px 171px 139px 273px;
}

.get-admit {
  margin-top: 80px;
  background: #def6f5;
}

.get-admit .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 76px 0px 88px;
}

.get-admit .heading {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 18px;
}

.get-admit .desc {
  color: #767e7e;
  font-size: 1.8rem;
}

.get-admit .get-started {
  margin-right: 154px;
}

/* ===========================footer============================= */
.footer .row {
  margin-top: 81px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.footer .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 26px;
}

.footer .list {
  color: #535353;
  font-size: 1.6rem;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 19px;
}

.footer .copyright {
  color: #b0b5b4;
  font-size: 1.8rem;
  text-align: center;
}
