:root {
  --1st: #1ebfc1;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.main-content {
  width: 1170px;
  width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  padding: 38px 100px;
}

a {
  text-decoration: none;
  color: #2f3a3b;
  font-size: 1.6rem;
}

.btn {
  color: #494949;
  font-size: 1.6rem;
  text-align: center;
}
/* ===========================Header============================ */
.header__body {
  display: flex;
  align-items: center;
}

.header__nav ul {
  display: flex;
  gap: 39px;
}

.header__nav {
  margin-left: auto;
  margin-right: auto;
}

.header__nav li:first-child {
  font-weight: 600;
}

.header__nav a:hover {
  text-shadow: 0.5px 0 0 #000;
  cursor: pointer;
}

.header__action a:first-child {
  margin-right: 48px;
}

.header__action .sign-up {
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 12px 24px;
}

.header__action .sign-up:hover {
  color: #fff;
  background-color: var(--1st);
}

/* ============================Hero=========================== */
.hero__body {
  display: flex;
  justify-content: space-between;
}

.hero__content-block {
  width: 39%;
  margin-top: 93px;
}

.hero__subheading {
  color: #767e7e;
  font-size: 1.4rem;
  margin-bottom: 18px;
}

.hero__desc {
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
  margin-bottom: 52px;
  width: 374px;
}

.hero__heading {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
  margin-bottom: 46px;
}

.main__cta-group .play {
  border: none;
  background: transparent;
}

.main__cta-group .icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

.get-started {
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 21px 41px;
}

.get-started:hover {
  opacity: 0.8;
  cursor: pointer;
}

.main__cta-group .icon {
  margin-left: 42px;
  width: 62px;
  height: 62px;
  border-radius: 62px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  align-content: center;
  justify-content: center;
}

.hero__media-block {
  display: flex;
  position: relative;
  width: 61%;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.besnik-ava {
  object-fit: cover;
  background-position: 0% 0%;
  width: 641px;
  height: 631px;
  border-radius: 15px;
}

.item1 {
  position: absolute;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  left: 0;
  margin-top: 149px;
  padding: 17px 25px;
  margin-left: 67px;
}

.item2 {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 46px;
  width: 124px;
  height: 132px;
  border-radius: 2.4rem;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 16px 25px 23px;
  margin-left: 42px;
}

.item2 .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.item2 .taskbar1 {
  margin-bottom: 12px;
}

.item2 .taskbar2 {
  margin-bottom: 10px;
}

.item2 .taskbar3 {
  margin-bottom: 16px;
}

.taskbar__tmp {
  content: "";
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
  margin: auto;
}

.item3 {
  min-width: 0;
  display: inline-block;
  border-radius: 2.4rem;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 0;
  margin-right: 45px;
  margin-bottom: 41px;
  padding: 17px 35px;
}

.item3 .desc {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
  display: flex;
  justify-content: flex-start;
}

.item3 .our__students:first-child {
  margin-left: 0;
}

.students {
  margin-left: -7px;
}
